{% extends 'app/layout.html' %}

{% block content %}
    <div class="enter-query-container container">
        <div class="row">
            <div class="col-xs-12">
                <form action="/" method="GET">
                    <div class="row">
                        <h1 class="text-center">Search Twitter and Wikipedia</h1>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <input class="center text-center form-control" id="query" type="text" name="query" placeholder="Search" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-center col-xs-12">
                            <input class="btn btn-default" type="submit">
                        </div>
                    </div>
                </form>
             </div>
        </div>
    </div>

<div class="results-container container">
    <div class="row">
        {% if word %}
            <div class="twitter-results col-xs-12 col-md-6">
                {% if word %}
                    <h2>Twitter Results for "{{word}}":</h2>
                    <h3><a href="http://twitter.com/search?q=/{{word}}">See Results on Twitter</a></h3>
                {% endif %}
                {% for tweet in twitter_results %}
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-xs-2">
                                  <a href="http://twitter.com/{{tweet.author.screen_name}}"><img class="img-responsive" src="{{tweet.author.profile_image_url}}" alt="@{{tweet.author.screen_name}}" /></a>
                              </div>
                              <div class="col-xs-10">
                                  <h4><a href="http://twitter.com/{{tweet.author.screen_name}}">@{{tweet.author.screen_name}}</a></h4>
                                  <p>{{tweet.text}}</p>
                              </div>
                          </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
            <div class="wiki-results col-xs-12 col-md-6">
                {% if word %}
                    <h2>Wikipedia Results for "{{word}}":</h2> 
                    <h3><a href="http://wikipedia.org/wiki/{{word}}">See Results on Wikipedia</a></h3>
                {% endif %}
                {% for wiki in wiki_results %}
                    <div class="panel panel-default">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-xs-12">
                                <h4><a href="{{wiki.url}}">{{wiki.title}}</a></h4>
                                <p class="wiki-text">{{wiki.summary}}</p> 
                              </div>
                          </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}